body{
    width: 100vw;
    height: 100vh;
    display: grid;
    /* place-items: center; */
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: white;
    background-color:black;
    line-height: 35px;
}
@media screen and (width < 800px) {
   body{
    grid-template-columns: 10% 80% 10%;
   }
}
@media screen and (width >= 800px) {
     body{
        grid-template-columns: 20% 60% 20%;
     }
}
#root{
    grid-column: 2/3;
}
button{
    font-size: larger;
    /* padding: 4px; */
}
.buttonvalue{
    border: solid black 0.3px;
    background-color: rgba(102, 100, 100, 0.384);
    margin: 4px;
    padding: 2px;
    font-size: larger;
}
.component{
    font-size: 25px;
    font-family: monospace;
}